<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset = "UTF-8">
        <style type="text/css">
            p {
                color: #26b72b;
            }
            header {
                height: 48px;
                width: 100%;
                background: green;
            }

            .logo {
                width: 150px;
                height: 150px;
            }

            .info {
                display: flex;
                flex-direction: column;
            }

            .info span {
                font-size: 14px;
                padding: 10px 0;
            }

        </style>
    </head>

    <body>
        <header></header>
        <h1>{{name}}</h1>
        <p>{{message}}</p>
    </body>
</html>